	*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
#header{
	background-image: url("../img/homebg.jpg");
	background-size: cover;
	text-align: center;
	font-family: 'Rubik', sans-serif !important;
	background-position: center center;
	color: white !important;
}
#header #navbarText ul li:hover{
	color: #f05f40 !important;
}
.mo{
	background-color: black;
	background: #00000085;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px!important; 
}
#logo{
	font-size: 25px;
	color: #f05f40;
	font-weight: bold;
	border: 1.5px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
}
#header #top{
	position: fixed;
	z-index: 10000;
	background-color:black !important; 
}
#navbarText{
	font-size: 23px;
	color: white;
}
.navbar-light .navbar-nav .nav-link {
	color: white !important;
}
/* .navbar .active{
	border-bottom: 2px solid #f05f40;
} */
.fa-search{
	color: white !important;
}
#header .jumbotron{
	padding: 150px 35px !important;
}
#header .jumbotron h1{
	font-weight: bold;
}
.point{
	cursor: pointer;
}
.lead{
	padding-top: 30px;
	padding-bottom: 30px;
}
.btn{
	background-color: #f05f40 !important;
	border-radius: 0px !important;
	padding: 20px !important; 
}
#header .jumbotron .btn{
	border: none !important;
}
#header .carousel li{
	margin-bottom: 100px; 
}
.carousel li{
	height: 15px !important;
	width: 15px !important;
	border: 1px solid black !important;	
	background-color: #f05f40 !important; 
}
.bg-color-none{
	background-color: transparent !important;
}
#content{
	font-family: 'Rubik', sans-serif !important;
}
.gach-chan{
	height: 2px;
	width: 80px;
	background-color: #f05f40;
	margin-bottom: 60px;
}
.dm-nho{
	background-image: url("../img/stabmenubg.png");
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.dm-nho:hover{
	background-image: url("../img/stabmenubghv.png");
	color: white;
}
.dm-nho .fa{
	padding-top: 40px;
	padding-bottom: 30px; 
	font-size: 30px;
}
.dm-nho p{
	font-size: 15px;
	padding-bottom: 45px;
	margin-left: 10%;
	margin-right: 10%;
}
#content .carousel-indicators{
	margin-top: 30px;
	position: relative !important;
}
.name-tab{
	font-size: 25px !important;
	font-weight: bold !important;
	padding-bottom: 30px;	
}
#web-design{

}
#featured-work .btn:hover{
	
}
#web-design .img{
	background-image: url("../img/stab1.png");
	background-position: center;
	background-size: cover;
}
#featured-work{
	padding-left: 2rem;
	padding-bottom: 80px;
}
#featured-work .jumbotron{
	padding-top: 30px;
	margin-bottom: 0px;
}
#featured-work .jumbotron .lead{
	margin-bottom: 0px !important;
}
#featured-work .btn{
	color: black;
	background-color: white !important;
	border: 1.5px solid black;
}
#featured-work .btn:hover{
	color: white;
	background-color: #f05f40 !important;
	border: 1.5px solid #f05f40;
}
#video-intro{
	background-image: url("../img/videobg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: white !important;
	margin-bottom: 80px;
}
#video-intro .fa-play-circle-o{
	color: #c9cbce;
	font-size: 100px !important;
	padding-top: 150px;
}
#video-intro .fa-play-circle-o:hover{
	color: white;
}
#video-intro h2{
	padding-bottom: 150px;
}
#tuy-chon{
	margin-bottom: 80px;
}
.tuy-chon{
	padding-top: 10px;
	padding-bottom: 10px;
}
.iconbg1{
	background-image: url(../img/iconbg1.png);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center !important;
}
.iconbg1:hover{
	background-image: url(../img/iconbg1h.png);
	color: white;
}
.iconbg1 .fa{
	font-size: 50px;
	line-height: 110px !important;
	width: 100% !important;
}

#about-logic-next .skmenubg{
	background-image: url("../img/skmenubg.png");
	background-size: cover;
	background-position: center center;
	text-align: center;
}
#about-logic-next .skmenubg:hover{
	background-image: url("../img/skmenubgh.png");
	color: white;
}
#about-logic-next .skmenubg h6{
	padding-top: 20px;
	padding-bottom: 30px;
}
#noname{
	padding-top: 30px;
}
#check{
	padding-top: 30px;
	padding-bottom: 80px;
}
.progress-bar{
	background-color:#f05f40 !important; 
}
.progress-lon{
 	padding-top: 10px;
 	padding-bottom: 10px;
 }
 .progress-lon h4{
 	font-weight: bold;
 }
 #counter-up{
 	background-image: url("../img/counterbg.jpg");
	background-size: cover;
	text-align: center;
	background-position: center center;
	color: white !important;
	margin-bottom: 80px;
 }
 #counter-up>.counter{
 	display: inline-block;
 }
  #counter-up .counter{
 	font-size: 60px ;
 }
 #counter-up .mo{
 	padding-top: 80px;
	padding-bottom: 80px;
 }
 #counter-up .fa{
 	font-size: 40px;
 	color: #f05f40;
 	padding-top: 30px;
	padding-bottom: 30px;
 }
#their-services{
	padding-bottom: 80px;
}
#their-services .fa{
	font-size: 50px;
	line-height: 60px !important;
}
#their-services .fa:hover{
	color: #f05f40; 
}
#our-teams img{
	padding-top: 10px;
	padding-bottom: 10px;	
}
#their-services-img{
	padding-bottom: 80px;
}
#why-choose-us{
	padding-bottom: 80px;
}
#why-choose-us #accordionExample .btn{
	background-color: rgba(0,0,0,0) !important;	
	border: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
#why-choose-us #accordionExample i:hover{
	color: #f05f40 !important;
}
#why-choose-us #accordionExample i{
	font-size: 30px !important;
	color: black !important;
}
#why-choose-us #accordionExample h2{
	float: left;
}
#why-choose-us #accordionExample h4{
	margin-top: .5rem;
}
#fliter-img{
	padding-bottom: 80px;
}
#fliter-img img {
  width: 100%;
}
.filtr-item {
    padding: 1rem;
}
#liter-img ul li{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}


/* Filter controls */
.simplefilter, .multifilter, .sortandshuffle, .search-row {
  padding-left: 0;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
    background-color: #585858;
}
.simplefilter li.active {
    background-color: #212121;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}

/* Colored divs */
.block {
  box-shadow: 0 1px 4px rgba(0,0,0,.75) inset;
  color: white;
  text-align: center;
  height: 80px;
  position: relative;
}
.block > .text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block.xs {
  height: 40px;
}
.block.md {
  height: 120px;
}
.block.lg {
  height: 160px;
}
.block.purple {
  background-color: purple;
}
.block.yellow {
  background-color: #dec800;
}
.block.red {
  background-color: crimson;
}
.block.green {
  background-color: lightgreen;
}
.block.blue {
  background-color: #4b9eff;
}

/* Helpers */
.push-down {
  margin-bottom: 50px;
}

.filtr-container,
.color-container-1,
.color-container-2,
.color-container-3,
.color-container-4 {
  transition: height 500ms ease-out;
}
 #about{
 	padding-bottom: 80px;
 }
#about-text{
	background-image: url("../img/testbg.jpg");
	background-size: cover;
	text-align: center;
	background-position: center center;
	color: white !important;
}
#about .carousel{
	padding-top: 30px; 
}
#about-icon {
	background-color: #dadada;
	padding-top: 60px;
	padding-bottom: 60px;
}
#about-icon img{
	padding-top: 30px;
	padding-bottom: 30px;
}
#contact{
	background-image: url("../img/contactbg.png");
	background-size: cover;
	background-position: center center;
	padding-bottom: 80px;
}
#contact .fa{
	font-size: 50px;
	line-height: 60px !important;
}
#contact .fa:hover{
	color: #f05f40; 
}
#contact .nhap{
	margin-bottom: 10px !important;
}
#contact .message{
	height: 200px !important;
}
#contact .btn{
	padding: 15px !important;
}
#footer{
		color: white !important;
}
#footer #map{
	cursor: pointer;
	width: 100%;
}
#footer #map .mo{
	background-color: #ffa500a8;
	padding: 50px 0px;
}
#footer #detail{
	background-color: #4e4e4e;
	padding-top: 80px;
	padding-bottom: 80px;
}
#footer #detail .gach-chan{
	margin-bottom: 10px;
}
#footer #detail .logo{
	font-size: 25px;
	color: #f05f40;
	font-weight: bold;
	border: 1.5px solid white;
	padding: 10px 20px;
	cursor: pointer;
}
#end{
	background-color: black;
	padding-top: 30px;
	padding-bottom: 30px;
}
#footer .left{
	color: #f05f40;
	font-size: 20px;
	font-weight: bold;
}
.name{
	color: white;
	font-size: 30px;
}
#footer .right{
	float: right;
}
#footer #end .fa{
	font-size: 25px;
	text-align: center;
	line-height: 25px;
	border: 1.5px solid white;
	padding: 10px 10px;
	margin-left: 5px;
	width: 50px;
	height: 50px;
}
#footer #end .fa:hover{
	border: 1.5px solid #f05f40;
	color: #f05f40;
}
